:root {
  --primary: rgba(6, 1, 51, 1);
  --secondary: rgba(29, 2, 74, 1);
  --black: rgba(38, 38, 43, 1);
  --black-75: rgba(38, 38, 43, 0.75);
  --black-50: rgba(38, 38, 43, 0.5);
  --black-25: rgba(38, 38, 43, 0.25);
  --black-10: rgba(38, 38, 43, 0.1);
  --black-5: rgba(38, 38, 43, 0.05);
  --text: rgba(209, 179, 120, 1);
  --h3-font-family: "PlayfairDisplay-SemiBold", Helvetica;
  --h3-font-weight: 600;
  --h3-font-size: 38px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 50px;
  --h3-font-style: normal;
  --h1-font-family: "PlayfairDisplay-Bold", Helvetica;
  --h1-font-weight: 700;
  --h1-font-size: 67px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 81px;
  --h1-font-style: normal;
  --h2-font-family: "PlayfairDisplay-Bold", Helvetica;
  --h2-font-weight: 700;
  --h2-font-size: 50px;
  --h2-letter-spacing: 0px;
  --h2-line-height: 50px;
  --h2-font-style: normal;
  --h4-font-family: "PlayfairDisplay-Bold", Helvetica;
  --h4-font-weight: 700;
  --h4-font-size: 28px;
  --h4-letter-spacing: 0px;
  --h4-line-height: 50px;
  --h4-font-style: normal;
  --h5-font-family: "PlayfairDisplay-Bold", Helvetica;
  --h5-font-weight: 700;
  --h5-font-size: 21px;
  --h5-letter-spacing: 0px;
  --h5-line-height: 50px;
  --h5-font-style: normal;
  --h6-font-family: "PlayfairDisplay-Bold", Helvetica;
  --h6-font-weight: 700;
  --h6-font-size: 16px;
  --h6-letter-spacing: 0px;
  --h6-line-height: 50px;
  --h6-font-style: normal;
  --collection-1-text-gradiant: rgba(209, 179, 120, 1);
}
