* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 124px;
  padding: 0px 15px;
  position: relative;
  background-color: #060133;
}

.index .header {
  position: relative;
  width: 1800px;
  height: 118px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: transparent;
}

.index .overlap-group {
  position: relative;
  width: 1800px;
  height: 118px;
}

.index .line {
  position: absolute;
  width: 1800px;
  height: 2px;
  top: 116px;
  left: 0;
}

.index .frame {
  display: flex;
  width: 1656px;
  height: 118px;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
  position: absolute;
  top: 0;
  left: 80px;
}

.index .div {
  display: inline-flex;
  align-items: center;
  gap: 64px;
  position: relative;
  flex: 0 0 auto;
}

.index .elite-chauffeured {
  position: relative;
  width: 54px;
  height: 54px;
  object-fit: cover;
}

.index .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: var(--text);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.index .frame-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 52px;
  position: relative;
  flex: 0 0 auto;
}

.index .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.index .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: var(--text);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.index .line-wrapper {
  position: relative;
  width: 1px;
  height: 11px;
}

.index .img {
  position: absolute;
  width: 1px;
  height: 12px;
  top: 2px;
  left: 0;
  object-fit: cover;
}

.index .frame-4 {
  position: relative;
  flex: 0 0 auto;
}

.index .tim-DC-DSC-edit {
  position: relative;
  width: 1800px;
  height: 1015px;
  margin-left: -15px;
  margin-right: -15px;
  object-fit: cover;
}

.index .hero {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 262px;
  left: 586px;
}

.index .group {
  position: relative;
  width: 639px;
  height: 545px;
  margin-left: -19.5px;
  margin-right: -19.5px;
}

.index .frame-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 447px;
  left: 162px;
  box-shadow: 0px 4px 4px #00000040;
}

.index .frame-5 {
  position: relative;
  width: 314px;
  height: 98px;
  background-color: var(--collection-1-text-gradiant);
  border-radius: 100px;
  box-shadow: 0px 1.63px 3.62px #00000013, 0px 4.51px 10.02px #0000001b, 0px 10.85px 24.12px #00000023,
    0px 36px 80px #00000036;
}

.index .text-wrapper-3 {
  position: absolute;
  top: 23px;
  left: 50px;
  background: linear-gradient(180deg, rgb(29, 2, 74) 0%, rgb(6, 1, 51) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: var(--h5-font-family);
  font-weight: var(--h5-font-weight);
  color: transparent;
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  white-space: nowrap;
  font-style: var(--h5-font-style);
}

.index .arrow-alt-circle {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 41px;
  left: 252px;
}

.index .frame-6 {
  display: inline-flex;
  flex-direction: column;
  height: 415px;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black-75);
  border-radius: 25px;
}

.index .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: var(--text);
  font-size: 38px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.index .text-wrapper-5 {
  position: relative;
  width: 639px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 800;
  color: #d1b378;
  font-size: 67px;
  text-align: center;
  letter-spacing: 0;
  line-height: 81px;
}

.index .p {
  position: relative;
  width: 637px;
  height: 58px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 800;
  color: #d1b378bf;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.index .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.index .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--h5-font-family);
  font-weight: var(--h5-font-weight);
  color: var(--text);
  font-size: var(--h5-font-size);
  text-align: center;
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  white-space: nowrap;
  font-style: var(--h5-font-style);
}

.index .line-2 {
  position: relative;
  width: 1800px;
  height: 3px;
  margin-left: -15px;
  margin-right: -15px;
}

.index .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  color: #d1b378;
  font-size: var(--h3-font-size);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  white-space: nowrap;
  font-style: var(--h3-font-style);
}

.index .luxury-fleet {
  position: relative;
  width: 15%; /* Adjust the width as needed */
  margin: auto; /* Center the container */
}


.index .fleet-list {
  list-style-type: none;
  padding: 0;
}

.index .fleet-list li {
  margin-bottom: 10px;
  font-size: 16px; /* Adjust the font size as needed */
  color: #d1b378bf; /* Adjust the color as needed */
}

.index .fleet-list li::before {
  content: "\2022"; /* Use a bullet point as a list item marker */
  color: #d1b378bf; /* Adjust the color as needed */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.index .cars {
  position: relative;
  max-width: 100%; /* Set a maximum width if needed */
  margin: auto; /* Center the container */
}

.index .owl-carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.index .owl-item {
  width: auto;
}

.index .owl-carousel img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Add border radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}


.index .overlap {
  position: relative;
  height: 940px;
}

.index .rectangle {
  position: absolute;
  width: 1800px;
  height: 736px;
  top: 0;
  left: 0;
  background-color: #d1b378;
}

.index .popular-services {
  position: relative;
  width: 1678px;
  height: 874px;
}

.index .toggle-switch {
  display: flex;
  flex-direction: column;
  width: 448px;
  height: 436px;
  align-items: center;
  gap: 16px;
  padding: 8px;
  position: absolute;
  top: 400px;
  left: 1226px;
  border-radius: 50px;
}

.index .corporate-chauffeur {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--text);
  border-radius: 50px;
}

.index .div-wrapper {
  display: flex;
  width: 360px;
  height: 45px;
  align-items: center;
  gap: 36px;
  position: relative;
  margin-right: -24px;
}

.index .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: var(--black);
  font-size: 21px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.index .vector {
  margin-left: -48px;
  position: relative;
  width: 24px;
  height: 24px;
}

.index .active {
  display: flex;
  height: 93px;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--text);
  border-radius: 50px;
}

.index .frame-7 {
  width: 360px;
  margin-right: -134px;
  margin-left: -158px;
  position: relative;
  height: 45px;
}

.index .vector-2 {
  margin-left: -158px;
  position: relative;
  width: 24px;
  height: 24px;
}

.index .frame-8 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  flex: 0 0 auto;
  position: relative;
  height: 45px;
}

.index .vector-3 {
  position: relative;
  width: 24px;
  height: 24px;
}

.index .meetings-events-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  flex: 0 0 auto;
  position: relative;
  height: 45px;
}

.index .washington-DC {
  position: absolute;
  width: 392px;
  top: 112px;
  left: 1265px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #d1b378bf;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.index .text-wrapper-9 {
  position: absolute;
  width: 440px;
  height: 100px;
  top: 37px;
  left: 1265px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #d1b378;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.index .maybach {
  position: absolute;
  width: 1168px;
  height: 874px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.index .testimonials {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  position: relative;
  flex: 0 0 auto;
}

.index .text-wrapper-10 {
  position: relative;
  width: 638px;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--text);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.index .overlap-group-wrapper {
  position: relative;
  width: 116px;
  height: 64px;
}

.index .overlap-group-2 {
  position: relative;
  height: 64px;
}

.index .ellipse {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.index .amazon-wrapper {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  left: 52px;
  background-color: #f2f2f2;
  border-radius: 32px;
}

.index .amazon {
  position: absolute;
  width: 28px;
  height: 32px;
  top: 16px;
  left: 18px;
}

.index .james-wittings {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.index .span {
  font-weight: 700;
  color: #d1b378;
}

.index .text-wrapper-11 {
  color: #d1b378bf;
}

.index .line-3 {
  position: relative;
  width: 1800px;
  height: 2px;
  margin-left: -15px;
  margin-right: -15px;
}

.index .above-footer {
  position: relative;
  width: 1288px;
  height: 270px;
}

.index .group-2 {
  position: absolute;
  width: 518px;
  height: 257px;
  top: 13px;
  left: 774px;
}

.index .element-info {
  position: absolute;
  top: 0;
  left: 4px;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: var(--text);
  font-size: var(--h4-font-size);
  text-align: right;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.index .text-wrapper-12 {
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #d1b378;
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.index .address-k {
  position: absolute;
  width: 514px;
  top: 107px;
  left: 0;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: var(--text);
  font-size: var(--h4-font-size);
  text-align: right;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.index .text-wrapper-13 {
  text-decoration: underline;
  font-family: var(--h4-font-family);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-size: var(--h4-font-size);
}

.index .group-wrapper {
  position: absolute;
  width: 667px;
  height: 270px;
  top: 0;
  left: 0;
}

.index .group-3 {
  position: relative;
  width: 668px;
  height: 270px;
}

.index .our-services-are {
  position: absolute;
  top: 170px;
  left: 0;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: var(--text);
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.index .text-wrapper-14 {
  position: absolute;
  width: 136px;
  top: 82px;
  left: 0;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: var(--text);
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  white-space: nowrap;
  font-style: var(--h4-font-style);
}

.index .text-wrapper-15 {
  position: absolute;
  width: 255px;
  top: 82px;
  left: 216px;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: var(--text);
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  white-space: nowrap;
  font-style: var(--h4-font-style);
}

.index .text-wrapper-16 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  color: var(--text);
  font-size: var(--h3-font-size);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  white-space: nowrap;
  font-style: var(--h3-font-style);
}

.index .footer {
  display: flex;
  flex-direction: column;
  width: 1800px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  margin-left: -15px;
  margin-right: -15px;
  background-color: transparent;
}

.index .line-4 {
  position: relative;
  width: 1800px;
  height: 1px;
  margin-top: -1px;
  object-fit: cover;
}

.index .frame-9 {
  display: flex;
  width: 1672px;
  height: 120px;
  align-items: center;
  gap: 80px;
  padding: 32px 16px;
  position: relative;
}

.index .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #d1b378bf;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 56px;
  white-space: nowrap;
}

.index .frame-10 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  position: relative;
  flex: 0 0 auto;
}

.index .text-wrapper-18 {
  width: 88px;
  position: relative;
  margin-top: -1px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: var(--text);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.index .frame-11 {
  position: relative;
  width: 104px;
}

.index .elite-chauffeured-2 {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 32px;
  left: 1616px;
  object-fit: cover;
}
